.logoGold{
    background: url(../images/d’Perfume.png) no-repeat;
    min-width: 128px;
    height: 34px;
}
.logoWhite{
    background: url(../images/d’Perfumewhite.png) no-repeat;
    min-width: 128px;
    height: 34px;

}
